.desafio1{
    background-color: aquamarine;
    color:orange
}

#lista1{
    background-color: blueviolet;
    color: aliceblue;
    list-style-type: katakana-iroha;
}

#lista2{
    background-color: palevioletred;
    color:brown;
    list-style-type: katakana-iroha;
}